@import "variable"; //导入公共变量

.in_bg{background:$c_gray;}

/** 框架上面 **/
.index_t{
  border-bottom:1px solid #C6C6C6;
  padding:15px 0;
  .title{
    color:#333333; 
    font-size: 24px;
    margin-right: 20px;
    font-weight: 700;
  }
}

/** 头部 **/
.header{padding-top:20px;}
.header_box{
  width: 20%;
  float: left;
  &.header_col4{
    width: 25%;
  }
  margin-bottom:20px;
  .l{
    width: 115px; height: 115px; float: left; padding:20px; background: #fff; text-align: center; @include border1_gray; @include radius50;   
    @media screen and(max-width:$width_max){
      width: 100px;
      height:100px;
    } 
    @media screen and(max-width:$width_md){
      width: 80px;
      height:80px;
    } 
    @media screen and(max-width:$width_min){
      width: 75px;
      height:75px;
    } 
    span.iconfont{
      font-size: 53px; margin: 0 auto;
      @media screen and(max-width:$width_max){
        font-size: 42px;;
      } 
      @media screen and(max-width:$width_md){
        font-size: 32px;;
      } 
      @media screen and(max-width:$width_min){
        font-size: 28px;;
      } 
    }
  }
  .r{
    width: 50%; float: left; padding: 20px 0 0 5px;
    span{
      font-size: 16px; display: block; margin-bottom:4px;
      @media screen and(max-width:$width_max){
        font-size: 14px;
      } 
      @media screen and(max-width:$width_md){
        font-size: 12px;
      }  
    }
    a{
      font-size: 36px; color:#666; display: block;
      @media screen and(max-width:$width_max){
        font-size: 36px;;
      } 
      @media screen and(max-width:$width_md){
        font-size: 24px;;
      } 
      @media screen and(max-width:$width_min){
        font-size: 20px;;
      } 
    }
  }
}
.header_box.orange{
  .l{    
    span.iconfont{color: $icon_orange;}
  }
  .r{
    span{color: $c_orange;}
  }
}
.header_box.green{
  .l{    
    span.iconfont{color: $icon_green;}
  }
  .r{
    span{color: $c_green;}
  }
}

/** 首页主体 **/
.index_box{
  background: #fff;
  position: relative;
  padding:15px;
  margin-bottom:15px;
  .index_title{
    position: absolute; 
    left: 15px;
    top:20px; 
    right:0;
    z-index:9;//防止被挡住
    /* @media screen and(max-width:$width_big){
      top:0px; 
    }  */
    .yun & {
      @media screen and(max-width:$width_big){
        top:0px;
      }      
    }
    .title{
      margin-right: 20px;
      color:#333;
      font-size: 18px;
      font-weight: 700;
      &.pull-left{        
        padding-top: 3px;
      }
      +.form-inline{
        @media screen and(max-width:$width_big){
          margin-left: 0!important;
          .yun & {
            width: 100%;
          }
        } 
      }
    }
  }
  .content{
    margin-top:40px; 
    .content_box{
      height: 210px; position: relative; 
    }
    table{
      tbody{
        tr{
          td:first-child{color: $c_blue;}
        }
      }
    }   
  }
}
.attention_title_list{
  background:#F1F1F1;
  border-radius: 3px;
  padding: 7px 0;
  margin-bottom: 20px;
  >span{
    display: inline-block;
    float:left;
    width: 25%;
    position: relative;
    text-align: center;
    color: #666;
    &::before{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      border-left: 1px solid #999;
    }
    &.off{
      &::before{
        border: 0;
      }
    }
  }
}
.attention_line{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    right: 0;
    top: 47px;
    bottom: 10px;
    border-left: 1px solid #999;
  }
}
.attention_box{
  float: left;
  width: 33.33%;
}
.attention_box_auto{
  height: 450px;
  position: relative;
  overflow-y: auto;
}
.attention_box_auto_p{
  padding-left: 30px;
  padding-right: 30px;
}
.attention_key{
  position: relative;
  margin-bottom: 15px;
  padding-left: 25px;
  &.key_ok{
    span{
      color: #1FC28E;
    }
    &::before{
      width: 20px;
      background: url(../img/key_ok.png) no-repeat;
    }
  }
  &.key_off{
    &::before{
      width: 20px;
      background: url(../img/key_off.png) no-repeat;
    }
  }
  &.key_ok,&.key_off{
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      height: 18px;
      margin-top: -9px;
    }
  }
  span,a{
    width: 100%;
    display: inline-block;
    color: #666;
  }

}
.attention_box_name{
  color: #666;
}
.attention02_key{
  margin-bottom: 20px;
  >span{
    display: block;
    float: left;
    width: 60%;
    color: #666;
  }
  >a{
    display: block;
    float: left;
    width: 40%;
    color: #1FC28E;
    text-align: right;
  }
}
/** echart 定义宽高 **/
.index_pie{
  height:280px;
  margin:-15px;
}
.index_gauge{
  height: 44%;
}

  


