@import "variable"; //导入公共变量

.in_bg{background:$c_gray;}

/** 头部 **/
.header{padding-top:20px;}
.header_box{
  width: 20%;
  float: left;
  margin-bottom:20px;
  .l{
    width: 115px; height: 115px; float: left; padding:20px; background: #fff; text-align: center; @include border1_gray; @include radius50;   
    @media screen and(max-width:$width_max){
      width: 100px;
      height:100px;
    } 
    @media screen and(max-width:$width_md){
      width: 80px;
      height:80px;
    } 
    @media screen and(max-width:$width_min){
      width: 75px;
      height:75px;
    } 
    span.iconfont{
      font-size: 53px; margin: 0 auto;
      @media screen and(max-width:$width_max){
        font-size: 42px;;
      } 
      @media screen and(max-width:$width_md){
        font-size: 32px;;
      } 
      @media screen and(max-width:$width_min){
        font-size: 28px;;
      } 
    }
  }
  .r{
    width: 50%; float: left; padding: 20px 0 0 5px;
    span{
      font-size: 16px; display: block; margin-bottom:4px;
      @media screen and(max-width:$width_max){
        font-size: 14px;
      } 
      @media screen and(max-width:$width_md){
        font-size: 12px;
      }  
    }
    a{
      font-size: 36px; color:#666; display: block;
      @media screen and(max-width:$width_max){
        font-size: 36px;;
      } 
      @media screen and(max-width:$width_md){
        font-size: 24px;;
      } 
      @media screen and(max-width:$width_min){
        font-size: 20px;;
      } 
    }
  }
}
.header_box.orange{
  .l{    
    span.iconfont{color: $icon_orange;}
  }
  .r{
    span{color: $c_orange;}
  }
}
.header_box.green{
  .l{    
    span.iconfont{color: $icon_green;}
  }
  .r{
    span{color: $c_green;}
  }
}

/** 首页主体 **/
.index_box{
  background: #fff;
  position: relative;
  padding:15px;
  .index_title{
    position: absolute; 
    left: 15px;
    top:20px;  
    color:#333;
    font-size: 18px;
  }
  .content{
    margin-top:15px;    
  }
}
.index_echart{
  height:700px;
  margin:-15px;
}


